@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom font variable and other custom CSS can go below */
:root {
    --font-sans: 'Inter', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', 'Noto Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

/* Add project-specific styles here */
